body {
    background: #161a23 !important
}

.container-register {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: auto;
    justify-content: center;
    margin-top: 20rem;
}

form {
    transition: all 300ms ease;
}

form:hover {
    box-shadow: var(--box-shadow);
}

form h1 {
    text-align: center;
}

.form-group {
    margin: 1rem;
    text-align: center;
}

.field {
    margin: 2rem;
}

.field input {
    background: transparent;
    color: white;
}

@media (max-width: 1024px) {
.lg\:flex-row-reverse {
    flex-direction: row-reverse;
}
}


@media screen and (max-width: 575px) {
    .flex-col {
        flex-direction: column;
    }
}

.divider {
    margin-top: 0rem;
    margin-bottom: 0rem;
    height: 0rem;
}

.card-dash {
    background: var(--color-card);
}

.label-text {
    --tw-text-opacity: 1;
    --bc: 215 28% 25%
}
